/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

/* header */
header{
    background-color: rgb(29, 29, 150);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin-bottom: 100px;       
}

.sec-title{
    font-size: 64px;  
    font-weight: 900;     
}
.watch-now{
    background-color: rgb(211, 50, 117);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    
}
.picture img{
    width: 556.01px;
    height: 438px;

}
.top:hover img{
    transform: scale(1.2) ;
    transition: transform 2s ease-in-out;
}

/* Main Part */


/* players details */
.players{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 150px;
    justify-content: center;
    align-items: center;
    grid-row-gap:30px;
    grid-column-gap:30px ;
}

.player{
    background-color: rgb(250, 246, 246);
    width: 330px;
    height: 474px;
    border: 1px solid rgba(128, 128, 128, 0.021);
    border-radius: 10px;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.096);
    padding: 15px 10px;  
    text-align: center;
    

}
.player-image img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    
}
.player-details{
    padding-top: 10px;

}
.player-name{
    font-size: 35px;
    
}
.player-info{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    color:rgb(65, 58, 58);
}

/* Live Matches */


.live-title{
    font-size: 50px;
    text-align: center;
    padding: 100px 0 50px 0;
    color: rgb(5, 5, 51);
}
.live-matches{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    grid-column-gap:30px ;
    padding:0 40px;
    margin: 0 60px ;
    
}
.live-games{
    background-color:rgba(236, 236, 236, 0.397);
    border: 1px solid rgba(128, 128, 128, 0.034);
    border-radius: 10px;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.349);
    padding: 20px;
    
}
.game-image img{
    width: 467px;
    height: 327px;
    border-radius: 5px;
    cursor: progress;
}


.game-title{
    font-size: 30px;
}

/* Match Highlights */
.highlights-title{
    font-size: 50px;
    text-align: center;
    padding: 150px 0 50px 0;
    color: rgb(100, 38, 20);

}
.highlights-matches{
    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    grid-row-gap:30px ;
    padding: 20px;   
}
.watch-highlights{
    background-color:rgba(236, 236, 236, 0.397);
    border: 1px solid rgba(128, 128, 128, 0.034);
    border-radius: 10px;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.349);
    padding: 20px;
}
.highligts-image img{
    width: 467px;
    height: 327px;
    border-radius: 5px;
    cursor:wait;

}

/* Main-Part-End */



/* Footer */

.footer{
    background-color:rgb(224, 218, 218);
    margin-top: 200px;
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-rows: repeat(3 1fr);
    justify-content: center;

}

.first-line{
    display: flex;
   align-items: center;
    

}

.first-line img{
    width: 140px;
    height: 110px;
    margin-right: 20px;
}
.footer-title{
    font-family: 'Niconne', cursive;
    font-size: 70px;
    color: rgb(15, 15, 165);
}
.second-line{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

}


.fab{
    
    margin-right: 20px;
    color: rgb(54, 48, 48);
    
   
}
.third-line{
    justify-content: center;
    padding:30px 0 0px 80px;
}


/* Media Queries */

/* For Mobile Devices */

@media only screen and (max-width:688px){
  
        .top{
        width: 100%;
    }
    .players,.live-matches{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* For Tablet Devices */

@media only screen and (min-width:688px) and (max-width:992px) {
     .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .live-matches{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media Queries End */
